from fastapi import Depends, HTTPException, status
from fastapi.security import OAuth2PasswordBearer
from jose import JWTError, jwt
{% if db == 'sql' %}
from sqlalchemy.ext.asyncio import AsyncSession
from app.db.session import get_db
{% endif %}
from app.auth.models import User
from app.auth import service
from app.auth.schemas import TokenData
from app.core.security import SECRET_KEY, ALGORITHM

oauth2_scheme = OAuth2PasswordBearer(tokenUrl="/auth/login")

async def get_current_user(
    token: str = Depends(oauth2_scheme),
    {% if db == 'sql' %}db: AsyncSession = Depends(get_db){% endif %}
) -> User:
    credentials_exception = HTTPException(
        status_code=status.HTTP_401_UNAUTHORIZED,
        detail="Could not validate credentials",
        headers={"WWW-Authenticate": "Bearer"},
    )
    try:
        payload = jwt.decode(token, SECRET_KEY, algorithms=[ALGORITHM])
        email: str = payload.get("sub")
        if email is None:
            raise credentials_exception
        token_data = TokenData(email=email)
    except JWTError:
        raise credentials_exception
    
    {% if db == 'sql' %}
    user = await service.get_user_by_email(db, email=token_data.email)
    {% else %}
    user = await service.get_user_by_email(email=token_data.email)
    {% endif %}
    if user is None:
        raise credentials_exception
    return user
