from pydantic import BaseModel, EmailStr, ConfigDict
from typing import Optional
from datetime import datetime
{% if db == 'mongo' %}from beanie import PydanticObjectId{% endif %}

class UserBase(BaseModel):
    email: EmailStr
    name: str

class UserCreate(UserBase):
    password: str

class UserLogin(BaseModel):
    email: EmailStr
    password: str

class UserResponse(UserBase):
    {% if db == 'mongo' %}id: PydanticObjectId{% else %}id: int{% endif %}
    created_at: datetime
    model_config = ConfigDict(from_attributes=True)

class Token(BaseModel):
    access_token: str
    token_type: str = "bearer"

class TokenData(BaseModel):
    email: Optional[str] = None
