from fastapi import APIRouter
from models.{{ model_file }} import {{ model_name }}
from services.{{ model_file }}_service_mongo import {{ model_name }}ServiceMongo

router = APIRouter(prefix="/{{ resource }}", tags=["{{ model_name }}"])
service = {{ model_name }}ServiceMongo()

@router.get("/")
async def list_{{ resource }}():
    return await service.list()

@router.post("/")
async def create_{{ singular }}(item: {{ model_name }}):
    return await service.create(item)
