from models.{{ model_file }} import {{ model_name }}Document

class {{ model_name }}ServiceMongo:
    async def list(self):
        return await {{ model_name }}Document.find().to_list()

    async def create(self, item):
        doc = {{ model_name }}Document(**item.dict())
        await doc.insert()
        return doc
