from sqlalchemy import Column, Integer, String, Float, Boolean, DateTime
from app.db.session import Base


class {{ model_name }}(Base):
    __tablename__ = "{{ resource }}"

    id = Column(Integer, primary_key=True, index=True)
{% for field_name, field_data in fields.items() %}
    {%- if field_data.type == 'int' %}
    {{ field_name }} = Column(Integer, nullable={{ field_data.optional }})
    {%- elif field_data.type == 'float' %}
    {{ field_name }} = Column(Float, nullable={{ field_data.optional }})
    {%- elif field_data.type == 'bool' %}
    {{ field_name }} = Column(Boolean, nullable={{ field_data.optional }})
    {%- elif field_data.type == 'datetime' %}
    {{ field_name }} = Column(DateTime, nullable={{ field_data.optional }})
    {%- else %}
    {{ field_name }} = Column(String, nullable={{ field_data.optional }})
    {%- endif %}
{% endfor %}
