from typing import List, Optional
from .schemas import {{ model_name }}Create, {{ model_name }}Update, {{ model_name }}Response
from .repository import {{ model_name }}Repository

class {{ model_name }}Service:
    def __init__(self, repository: {{ model_name }}Repository):
        self.repository = repository

    async def list(self) -> List[{{ model_name }}Response]:
        return await self.repository.list()

    async def create(self, item: {{ model_name }}Create) -> {{ model_name }}Response:
        return await self.repository.create(item)

    async def read(self, id: int) -> Optional[{{ model_name }}Response]:
        return await self.repository.get(id)

    async def update(self, id: int, item: {{ model_name }}Update) -> Optional[{{ model_name }}Response]:
        return await self.repository.update(id, item)

    async def delete(self, id: int) -> Optional[{{ model_name }}Response]:
        return await self.repository.delete(id)
