from .schemas import {{ model_name }}Create, {{ model_name }}Update

class {{ model_name }}Service:
    def __init__(self):
        self.items = []
        self.auto_id = 1

    def list(self):
        return self.items

    def get(self, item_id: int):
        for item in self.items:
            if item["id"] == item_id:
                return item
        return None

    def create(self, item: {{ model_name }}Create):
        obj = item.dict()
        obj["id"] = self.auto_id
        self.auto_id += 1

        self.items.append(obj)
        return obj

    def update(self, item_id: int, item: {{ model_name }}Update):
        for idx, existing in enumerate(self.items):
            if existing["id"] == item_id:
                updated = {**existing, **item.dict(exclude_unset=True)}
                self.items[idx] = updated
                return updated
        return None

    def delete(self, item_id: int):
        for idx, existing in enumerate(self.items):
            if existing["id"] == item_id:
                deleted = self.items.pop(idx)
                return deleted
        return None
