fastapi
uvicorn[standard]
pydantic[email]
{% if db == 'sql' %}
sqlalchemy
asyncpg
aiosqlite
{% elif db == 'mongo' %}
beanie
motor
{% endif %}
{% if db != 'ghost' %}
python-dotenv
{% endif %}
pytest
pytest-asyncio
httpx
